<h2>Lista de usuários:</h2>
<hr>

<div class="mb-4">
    <a href="/usuarios/registro"><button class="btn btn-success">Criar usuário</button></a>
    <a href="/admin/registro"><button class="btn btn-primary">Criar administrador</button></a>
</div>

{{#each usuarios}} 
    <div class="card mb-4">
        <div class="card-body">
            <h4>Nome: {{nome}}</h4>
            <h5>E-mail: {{email}}</h5>
            <p>Administrador: {{eAdmin}}</p>
            <a href="/admin/usuarios/edit/{{_id}}"><button class="btn btn-dark btn-sm mt-2">Editar</button></a>
            <form action="/admin/usuarios/deletar" method="post">
                <input type="hidden" name="id" value="{{_id}}">
                <button type="submit" class="btn btn-danger btn-sm mt-2">Deletar</button>
            </form>
        </div>
    </div>
{{else}}
    <h4>Nenhum usuário cadastrado</h4>
{{/each}}