<h2>Seu perfil</h2>
<hr>

<a href="/usuarios/edit/{{usuario._id}}"><button class="btn btn-dark mb-4">Editar perfil</button></a>

<h4>Nome: {{usuario.nome}}</h4>
<h5>E-mail: {{usuario.email}}</h5>
<p>Administrador: {{usuario.eAdmin}}</p>
<p>Numero: {{usuario.numero}}</p>
